{% include "tmpl/header.html" %}

{% if user_properties.logged_in %}


<!--- buttons for selecting disposition of page --->
	{% if user_properties.is_dispatcher %}
<script src="/site_media/moment/moment.js"></script>
<link href="/site_media/googleapi/default.css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
function disposition_change(disp) {
  if (disp == "view") {
    $('#fr_view').show();
    $('#fr_file').hide();

    $("#btn_view").attr({
      "class": 'btn btn-success'
    });
    $("#btn_file").attr({
      "class": 'btn btn-focus'
    });
    initialize_maps();
  } else if (disp == "file") {
    $('#fr_view').hide();
    $('#fr_file').show();

    $("#btn_view").attr({
      "class": 'btn btn-focus'
    });
    $("#btn_file").attr({
      "class": 'btn btn-success'
    });
  }
}

{% for fieldreport in fieldreports %}

function initialize_{{fieldreport.sequence_id}}() {
  {% if fieldreport.latitude %}
  var mapOptions = {
    zoom: 18,
    center: new google.maps.LatLng({{ fieldreport.latitude }},{{ fieldreport.longitude }}),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById('map{{fieldreport.sequence_id}}'),
      mapOptions);

  var marker = new google.maps.Marker({
    position: map.getCenter(),
    map: map,
    title: 'Click to zoom'
  });

  google.maps.event.addListener(map, 'center_changed', function() {
    // 3 seconds after the center of the map has changed, pan back to the
    // marker.
    window.setTimeout(function() {
      map.panTo(marker.getPosition());
    }, 3000);
  });

  google.maps.event.addListener(marker, 'click', function() {
    map.setZoom(8);
    map.setCenter(marker.getPosition());
  });
  {% endif %}
}

{% endfor %}

function initialize_maps() {

{% for fieldreport in fieldreports %}

initialize_{{fieldreport.sequence_id}}();


{% endfor %}

}

google.maps.event.addDomListener(window, 'load', initialize_maps);
</script>
<div class="row-fluid">
<div class="span12" align="right">
<button id="btn_view" onClick="disposition_change('view');" class="btn btn-focus">Field Reports</button>
<button id="btn_file" onClick="disposition_change('file');" class="btn btn-success">Create a Report</button>
</div>
</div>


<!--- for viewing... --->

<div id="fr_view" style="clear:both" >

{% for fieldreport in fieldreports %} 
<script>

</script>



<h1> {{ fieldreport.sequence_id }} {{ fieldreport.volunteer }} </h1>
<div class="row-fluid">
    <div style="margin-left:2em">
    <div style="clear:both;"> {{fieldreport.ts}} &nbsp; &nbsp; <form action="/fieldreport/" method="POST">{% csrf_token %}<input type="hidden" name="action" value="mark_read" /><input type="hidden" name="fieldreport_id" value="{{fieldreport.id}}" /><input type="submit" value="Mark Read" /></form>
 </div>
    <div style="clear:both"></div>
    <p> {{ fieldreport.description }} </p>
{% if fieldreport.latitude %}
    <p>Lat/Lon: {{ fieldreport.latitude }}/{{ fieldreport.longitude }}</p>
<div class="map_canvas" id="map{{fieldreport.sequence_id}}" ></div>
{% endif %}
</div>



</div>


{% endfor %}

</div>

	{% endif %}

<!--- section for filing reports --->
	{% if user_properties.is_responder %}
	<div id="fr_file" style="clear:both">
	<h4>Field Report</h4>
	<p>Input your crisis observations to our form and connect with Disaster Action Team (DAT) dispatchers to ensure an effective Red Cross response. Use your judgment and volunteer training to ensure that all relevant situational information is recorded and off-topic points are avoided. By quickly passing along your observations to dispatchers, you will not only facilitate their coordination of the disaster response but also enable other volunteers who are in the area to contribute towards the effort. This feature will ensure that whether you are participating in a crisis response or happen to encounter a crisis situation unfolding, your vital knowledge will not be lost.</p>
	<form method="post" action="/fieldreport/create">
        <input type="hidden" id="latinput" name="latitude" value="" />
        <input type="hidden" id="loninput" name="longitude" value="" />
	<input type="hidden" id="uuid" name="uuid" value="" />
	{% csrf_token %}
	<textarea rows="5" class="span12" name="description" id="description"></textarea>

	<div style="clear:both;"></div>
	{% if message %}
	<div class="alert alert-success"> {{ message }} </div>
	{% endif %}
        <div id="gps_indicator" class="alert alert-warning">Trying GPS...</div>
	<button type="submit" class="btn btn-primary">Submit</button>

	</form>
	<script type="text/javascript" >
	$("#uuid").val(uuid.v4());
	</script>

	</div>
</div>

<script type="text/javascript" >
disposition_change('{{ fieldreport_disposition }}');

function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(handlePosition);
    }
  else
    {
    alert("oh no, no geo locate :( ");
    }
  };

function handlePosition(position) {
  
  $("#latinput").val(position.coords.latitude);
  $("#loninput").val(position.coords.longitude);
  $("#gps_indicator").text("GPS Locked");
  $("#gps_indicator").attr({
  "class": 'alert alert-success'
  });
};

getLocation();
</script>


	{% endif %}





{% else %}
Sorry, you must log in.
{% endif %}




</body>
