<html>
<head>
<title> {{ title }} </title>
<link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.css">
<script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<style>
.center { float: none; margin-left: auto; margin-right: auto; }
#centerpic
{
margin-top: 1em;
}
.navbar .container { height: .5em; }
.navbar-inner .container {width:960px;}


</style>
</head>

<body>
<div class="container">
        <div align="middle" id="centerpic" ><img src="/site_media/img/Flag_of_the_Red_Cross.svg" align="middle" width="200px" height="200px" stroke="red"/> </div>
        <div align="middle" style="margin-top:-1em">
        <b>REDCROSS</b></br>
        Connect with Fellow Volunteers and Dispatch
        </div>

{% if user_properties.logged_in %}
<div class="navbar" style="margin-top:1em">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav" align="center">
      <li class="active"><a href="#" style="color:red;">Field Report</a></li>
      <li><a href="#">Incident Log</a></li>
      {% if user_properties.is_dispatcher %}
      <li><a href="#">Dispatch an Incident</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
