<html>
<head>
<title> {{ title }} </title>
<link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.css">
<script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/uuid.js"></script>
<style>
.center { float: none; margin-left: auto; margin-right: auto; }
#centerpic
{
margin-top: 1em;
}
.navbar .container { height: .5em; }
.navbar-inner .container {width:960px;}


</style>
</head>

<body>
<div class="container">
 
  <div align="middle" id="centerpic" onClick="window.location.href = '/';"><img src="/site_media/img/Flag_of_the_Red_Cross.svg" align="middle" width="200px" height="200px" stroke="red"/> </div>
  <div align="middle" style="margin-top:-1em">
  <b>REDCROSS</b></br>
  Connect with Fellow Volunteers and Dispatch
  </div>


<div class="navbar" style="margin-top:1em">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav" align="center">


{% if user_properties.logged_in %}
      <li ><a href="/">About</a></li>
      <li ><a href="/fieldreport/">Field Report</a></li>
      <!--- this disabled until we decide to add dispatching back as a feature <li><a href="#" align='center'>Incident Log</a></li>
      {% if user_properties.is_dispatcher %}
      <li><a href="/incidents/">Dispatch an Incident</a></li>
      {% endif %} --->
{% endif %}

          {% if not user_properties.logged_in %}
          <li class="active" onclick="window.location.href = '/login/';" ><a href="#" style="color:blue;">Login</a></li>
          {% else %}
      <li ><a href="/logout/">Logout</a></li>
          {% endif %} 
    </ul>
  </div>
</div>

